In [1]:
import sqlite3

# CONSTANTS
DATABASE = "kaffedb.db" 
DATABASE_SQL = "kaffedb.sql"
INITIAL_DATA = "initialdata.json"

# CREATE DATABASE
connection = sqlite3.connect(DATABASE)

database_sql = open(DATABASE_SQL, 'r', encoding="utf-8")
sql = database_sql.read()
database_sql.close()

sql = sql.split("-- -----------------------------------------------------")
sql.pop(0)

mutations = []

for i in range(len(sql)):
  if i % 2 != 0:
    mutations.append(sql[i])


cursor = connection.cursor()

for mutation in mutations:
  cursor.execute(mutation)

connection.commit()
connection.close()

OperationalError: table Land already exists

In [3]:
# LOAD INITIAL DATA
import json

initial_data = open(INITIAL_DATA, "r", encoding="utf-8")
initial_data_file = json.load(initial_data)
initial_data.close()

connection = sqlite3.connect(DATABASE)
cursor = connection.cursor()

for table in initial_data_file:
  for table_row in initial_data_file[table]:
    cursor.execute(f'''INSERT INTO {table} {str(tuple(table_row.keys()))} VALUES {str(tuple(table_row.values()))};''')

connection.commit()
connection.close()

IntegrityError: UNIQUE constraint failed: Land.LandID

In [4]:
connection.close()