In [1]:
import sqlite3

connection = sqlite3.connect('kaffedb.db')
cursor = connection.cursor()

cursor.execute('''select Gård.Navn, Region.Navn, Land.Navn from Gård
                join Region
                join Land
                where Land_LandID = LandID and Gård.Region_RegionID = Region.RegionID''')

rows = cursor.fetchall()

for row in rows:
    print(row)
print()

cursor.execute('''select Kaffebønne.Navn, KaffebønneArt.Art from Kaffebønne
                join KaffebønneArt where KaffebønneArt_KaffebønneArtID = KaffebønneArtID''')

rows = cursor.fetchall()

for row in rows:
    print(row)
print()

cursor.execute('''select Kaffebønne.Navn, KaffebønneArt.Art, Kaffeparti.Innhøstingsår from KaffepartiHarKaffebønne
                  join Kaffebønne
                  join KaffebønneArt
                  join Kaffeparti
                  where KaffepartiHarKaffebønne.Kaffebønne_KaffebønneID = Kaffebønne.KaffebønneID
                   ''')

rows = cursor.fetchall()

for row in rows:
    print(row)

connection.commit()
connection.close()

('Gård i Colombia', 'Medellin', 'Colombia')
('Gård i Rwanda', 'Virunga', 'Rwanda')
('Nombre de Dios', 'Santa Ana', 'El salvador')

('Bourbon', 'Coffea arabica')
('Caturra', 'Coffea arabica')
('Castillo', 'Coffea arabica')

('Bourbon', 'Coffea arabica', '2021')
('Bourbon', 'Coffea canephora', '2021')
('Bourbon', 'Coffea liberica', '2021')

In [8]:
import sqlite3

connection = sqlite3.connect('kaffedb.db')
cursor = connection.cursor()

cursor.execute('''

select Bruker.Fornavn, Bruker.Etternavn, COUNT(DISTINCT FerdigbrentKaffeID) 
from Bruker left join Kaffesmaking on BrukerID = Bruker_BrukerID 
left join FerdigbrentKaffe on FerdigbrentKaffeID = FerdigbrentKaffe_FerdigbrentKaffeID 
GROUP BY BrukerID''')

rows = cursor.fetchall()

for row in rows:
    print(row)

connection.commit()
connection.close()

('Roger', 'Fredriksen', 1)
('first_name', 'last_name', 0)
('test', 'test', 0)

In [10]:
import sqlite3

connection = sqlite3.connect('kaffedb.db')
cursor = connection.cursor()

cursor.execute('''

SELECT Brenneri.Navn, FerdigbrentKaffe.Navn, FerdigbrentKaffe.Kilopris, AVG(Poeng) 
from Kaffesmaking 
join FerdigbrentKaffe on FerdigbrentKaffe_FerdigbrentKaffeID = FerdigbrentKaffeID 
join Brenneri on BrenneriID = Brenneri_BrenneriID 
GROUP BY FerdigbrentKaffeID 
ORDER BY kilopris/AVG(Poeng)''') 

rows = cursor.fetchall()

for row in rows:
    print(row)

connection.commit()
connection.close()

('Jacobsen & Svart', 'Vinterkaffe 2022', 600.0, 10.0)

In [12]:
import sqlite3

connection = sqlite3.connect('kaffedb.db')
cursor = connection.cursor()

cursor.execute('''SELECT Brenneri.Navn, FerdigbrentKaffe.Navn from Kaffesmaking join FerdigbrentKaffe on FerdigbrentKaffeID = FerdigbrentKaffe_FerdigbrentKaffeID join Brenneri on BrenneriID = Brenneri_BrenneriID where Kaffesmaking.Smaksnotater LIKE('%%Wow%') or FerdigbrentKaffe.Beskrivelse LIKE('%%Wow%')''')

rows = cursor.fetchall()

for row in rows:
    print(row)

connection.commit()
connection.close()

In [5]:
import sqlite3

connection = sqlite3.connect('kaffedb.db')
cursor = connection.cursor()

cursor.execute('''
    WITH selectedland AS (
        SELECT LandID as id FROM Land where
        Navn = 'Rwanda' or Navn = 'Colombia'), 
    unwashed AS (
        SELECT ForedlingsmetodeID as id from Foredlingsmetode 
        where Foredlingsmetode.Navn != 'Vasket')

    Select Brenneri.Navn, FerdigbrentKaffe.Navn 
    from selectedland join Region on selectedland.id = Land_LandID 
    join Gård on RegionID = Region_RegionID 
    join Kaffeparti on Gård.GårdID = Kaffeparti.Gård_GårdID 
    join unwashed on unwashed.id = Foredlingsmetode_ForedlingsmetodeID 
    join FerdigbrentKaffe on KaffepartiID = Kaffeparti_KaffepartiID 
    join Brenneri on BrenneriID = Brenneri_BrenneriID''')
    
rows = cursor.fetchall()

for row in rows:
    print(row)



connection.commit()
connection.close()

hei

In [11]:
from datetime import datetime
print(datetime.now().date())

2022-03-22

In [14]:
from app.queries import run_query

def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d

def run_query(query):
    connection = sqlite3.connect("kaffedb.db")
    connection.row_factory = dict_factory
    cursor = connection.cursor()
    cursor.execute(query)

    rows = cursor.fetchall()
    connection.commit()
    connection.close()

    return rows

res = run_query(
        """
        SELECT Navn FROM Land
        """
    )
print(res)

[{'Navn': 'El salvador'}, {'Navn': 'Colombia'}, {'Navn': 'Rwanda'}]